* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    display: flex;
    align-items: left;
    justify-content: left;
    padding-left: 20px;
    min-height: 100vh;
    background: #f0f0f0;
}

.container .img_container {
    width: 350px;
    height: 450px;
    margin-bottom: 20px;    
}


.container .img_container .main_img {
    width: 100%;
    height: 100%;
    border-radius: 5px;
    box-shadow: 0 5px 5px rgba(1, 23, 46, 0.6);
    object-fit: cover;
}

.container .thumbnail_container {
    height: 80px;
    display: flex;
    justify-content: space-between;
}


.container .thumbnail_container .thumbnail {
    width: 80px;
    height: 80px;
    border-radius: 5px;
    cursor: pointer;
    object-fit: cover;
    opacity: .7;
    transition: .3s;
}

.container .thumbnail_container .thumbnail:hover {
    opacity: 1;
}

.active {
    opacity:  1 !important;
    box-shadow: 0 5px 5px rgba(1, 23, 46, 0.6);
}