
body{
    font-family: 'Roboto', sans-serif;
   margin: 0;
   background-color: #d0e6ed;
   font-size: 16px; /* Asegúrate de tener un tamaño de fuente estándar */
   line-height: 1.6; /* Espaciado entre líneas para mayor legibilidad */
   padding: 0;
   margin: 0;
}


h1{
    font-size: 3.5em;
}
h2{
    font-size: 2.7em;
}
h3{ 
    font-size: 2em;
    color: white;
}

h4{ 
    font-size: 2em;
    color: black;
}

p{
    font-size: 1.25em;
}
ul{
    list-style: none;
}


iframe{
    height: 1600px;
    width: 350px;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute
}



.color-acento{ color:  #12507a; }

button{
    font-size: 1.5em;
    font-weight: bold;
    padding: 10px 20px;
    border-radius: 8px;
    border: 2px solid rgba(0, 0, 0, 5);
    box-shadow: 2px 2px 10px rgba(0, 0, 0, 5);
    color: rgb(255, 253, 253);
    background-color: #12507a;

}

button:hover{
    background-color: #63a5c2;
    color: white;
}




/*encabezado*/
header {
    background-color: #63a5c2;
    padding: 10px 20px;
    color: white;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 10; 
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1); 
}

header .logo{
    margin: 0;
    padding: 25px 30px;
    font-weight: bold;
    color: white;
    font-size: 1.6em;
}

header .contenedor{
    display: flex;
    flex-direction: column;
    align-items: center;
}


header a{
    padding: 5px 12px;
    text-decoration: none;
    font-weight: bold;
    color: black;
}

header a:hover{
    color: #12507a;
}

#hero{
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    flex-direction: column;
    height: 90vh;

    background-image: 
    linear-gradient(
        0deg,
        rgba(0,0,0,0.5),
        rgba(0,0,0,0.5)
    ) 
    ,url(../img/logo2.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
}

#hero h1{
    color: #f8c736;
    font-family: 'ITC Benguiat';
}


#banner .contenedor{
    text-align: center;
    padding: 25px 20px 20px;
}


img{
        height: 350px;
        width: 350px;

}


#informacion-pag{
    background-color: #12507a;
    color: white;
    text-align: center;
}

#informacion-pag .contenedor{
    padding: 100px 0;
}

#informacion-pag h2{
    margin-top: 0;
    font-size: 3.2em;
}

#informacion-pag p{
    display: none;
}

#informacion-pag .cartas{
    background-size: cover;
    background-position: center center;
    padding: 100px;
    margin: 20px;
    border-radius: 13px;

}

.cartas:first-child{
    background-image: 
    linear-gradient(
        0deg,
        rgba(0,0,0,0.5),
        rgba(0,0,0,0.5)
    ) 
    ,url(../img/tipos.jpg);

}

.cartas:nth-child(2){
    background-image: 
    linear-gradient(
        0deg,
        rgba(0,0,0,0.5),
        rgba(0,0,0,0.5)
    ) 
    ,url(../img/componentes.jfif);

}

.cartas:nth-child(3){
    background-image: 
    linear-gradient(
        0deg,
        rgba(0,0,0,0.5),
        rgba(0,0,0,0.5)
    ) 
    ,url(../img/patrones.jfif);

}

#banner-boton{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    height: 80vh;
    background-image: 
    linear-gradient(
        0deg,
        rgba(0,0,0,0.5),
        rgba(0,0,0,0.5)
    ) 
    ,url(../img/a1.jpeg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
}

#banner-boton h2{
    font-size: 9vw;
    color: white;
}

#banner-boton button{
    font-size: 5vw;
}


@media (min-width: 720px){
    header{
        position: fixed;
        width: 100%;
    }
    header .contenedor{
        flex-direction: row;
        justify-content:space-between;
    }


    #hero h1{
        font-size: 5em;
    }


    #banner .contenedor{
        display: flex;
        justify-content: space-evenly;

    }



    #banner .textos{
        width: 50%;
        max-width: 600px;
        text-align: initial;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
     
    }

  

 
    #informacion-pag .infocartas{
        display: flex;
        justify-content: center;
    }




    #informacion-pag .cartas{
        background-repeat: no-repeat;
        background-position-y: 0;
        background-color: rgba(50,50,50,0.5);
        box-shadow: 2px 2px 10px rgba(0, 0, 0, 5);
    }

    .cartas:first-child{
        background-image: 
    linear-gradient(
        0deg,
        rgba(0,0,0,0.5),
        rgba(0,0,0,0.5)
    ) 
    ,url(../img/componentes.jfif);
    
    }
    
    .cartas:nth-child(2){
        background-image: 
    linear-gradient(
        0deg,
        rgba(0,0,0,0.5),
        rgba(0,0,0,0.5)
    ) 
    ,url(../img/tipos.jpg);
    }
    
    .cartas:nth-child(3){
        background-image: 
    linear-gradient(
        0deg,
        rgba(0,0,0,0.5),
        rgba(0,0,0,0.5)
    ) 
    ,url(../img/patrones.jfif);
    
    }


    #banner-boton h2{
        font-size: 4em;
    }

    #banner-boton button{
        font-size: 3ex;
    }
 
   
    iframe{
        height: 1500px;
        width: 400px;
        margin: 0 auto;
        display: flex;
        justify-content: center;
    }






}






